{% block body %}

    {{ form_start(sensors_form) }}
        <p>{{ form_row(sensors_form.name) }}</p>
        <p>{{ form_row(sensors_form.params) }}</p>
        <p>{{ form_row(sensors_form.type) }}</p>
        <p>{{ form_row(sensors_form.lastEditBy) }}</p>
        <p>
            <button type="submit" class="btn btn-primary">Mettre à jour les paramètres de capteurs</button>
        </p>
    {{ form_end(sensors_form) }}

{% endblock %}