{% extends 'base.html.twig' %}

{% block body %}

    {{ form_start(global_settings_form) }}
        <p>{{ form_row(global_settings_form.timeZone) }}</p>
        <p>{{ form_row(global_settings_form.survey_mode) }}</p>
        <p>{{ form_row(global_settings_form.alert_mail) }}</p>
        <p>{{ form_row(global_settings_form.lastEditBy) }}</p>
        <p>
            <button type="submit" class="btn btn-primary">Mettre à jour les paramètres généraux</button>
        </p>

    {{ form_end(global_settings_form) }}

    <a href="{{ path('app_settings') }}">
        <button type="button" class="btn btn-info">Retour aux paramètres</button>
    </a>
{% endblock %}