<header class="navbar navbar-light bg-light py-2 sticky-top">
    <nav class="container-fluid d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
            <a class="text-decoration-none me-3" href="{{ path('home.index') }}"><img height="45px" src="{{ asset ('img/logo-ios.png') }}" alt="Scrutoscope logo"></a>
            <a class="text-decoration-none" href="{{ path('home.index') }}">Scrutoscope</a>
        </div>
        <div class="d-flex justify-content-between align-items-center">
            {% if app.user %}
                <a class="nav-link active" href="{{ path('app_gallery_index') }}">Galerie</a>
                <a class="nav-link active" href="#">Paramètres</a>
                <a class="nav-link active" href="{{ path('app_profile') }}">Mon compte</a>
                <a class="nav-link active" href="{{ path('app_logout') }}">Déconnexion</a>
            {% else %}
                <a class="nav-link active" href="#">Contact</a>
                <a class="nav-link " href="{{ path('app_register') }}">Inscription</a>
                <a class="nav-link " href="{{ path('app_login') }}">Connexion</a>
            {% endif %}
        </div>
    </nav>
</header>