<header class="navbar navbar-light bg-light py-2 sticky-top">
    <nav class="container-fluid d-flex justify-content-between align-items-center">
        <div>
            <a class="text-decoration-none" href="{{ path('home.index') }}"><img class="logo" src="{{ asset ('img/logo-ios.png') }}" alt="Scrutoscope logo">  Scrutoscope</a>
        </div>
        <div class="d-flex justify-content-between align-items-center">
            {% if app.user %}
                <a class="nav-link active" href="{{ path('app_gallery_index') }}">Galerie</a>
                <a class="nav-link active" href="#">Paramètres</a>
                <a class="nav-link active" href="{{ path('app_profile') }}">Mon compte</a>
                <a class="nav-link active" href="{{ path('app_logout') }}">déconnexion</a>
            {% else %}
                <a class="nav-link active" href="#">Contact</a>
                <a class="nav-link " href="{{ path('app_register') }}">M'inscrire</a>
                <a class="nav-link " href="{{ path('app_login') }}">Me connecter</a>
            {% endif %}
        </div>
    </nav>
</header>