{% extends 'base.html.twig' %}

{% block title %}
    Accueil
{% endblock %}


{% block body %}

    <div class="container">
    <div class="jumbotron">
        <h1 class="display-4"><img height="70px" src="{{ asset ('img/logo-ios.png') }}" alt="Scrutoscope logo"> Bienvenue sur Scrutoscope</h1>
        <p class="lead">L'application qui permet de surveiller ta maison ! </p>
        <hr class="my-4">

        {% if app.user %}

            <div class="informations">
            <div>
                <h2 class="mb-4 text-center">Votre activité du {{ "now"|date("d/m/Y") }}</h2>
                <div>
                    <h3 class="mb-4">
                        Informations de la caméra :
                    </h3>
                    <ul class="camera">
                        <li>Nom : {{ cameraInfo.name }}</li>
                        <li>Modèle : {{ cameraParam.model }}</li>
                        <li>Résolution : {{ cameraParam.width }}</li>
                        <li>Distance de détection : {{ cameraParam.distance }}</li>
                        <li>Image par seconde : {{ cameraParam.framerate }}</li>
                    </ul>
                </div>
            </div>
            <h3 class="mb-4">Rapport</h3>
                <ul class="graph row align-items-start justify-content-lg-around">
                    <li class="col-6">
                        <h4>Nombre de détections</h4>
                        <div id="chart1">
                            {{ render_chart(chart1) }}
                        </div>
                    </li>
                    <li class="col-6 space">
                        <h4 class="title">Captures d'écrans</h4>
                        <div id="chart2">
                            {{ render_chart(chart2) }}
                        </div>
                    </li>
                </ul>
        </div>

            {%else%}
        <p>Pour commencer, rendez-vous sur la page d'inscription du projet.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{{path('app_register')}}" role="button">Inscription</a>
        </p>
        {% endif %}

    </div>
    </div>
{% endblock %}

